:root {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
li,
ul,
address {
  font-family: "open sans";
  font-weight: 500;
}
body {
  padding: 0 100px;
}

hr {
  font-size: 2rem;
  height: 3px;
  color: black;
  background-color: black;
  border-radius: 10px;
}

h4 {
  font-weight: 500;
  color: rgb(2, 168, 101);
}

h3 {
  color: rgb(0, 128, 255);
}
address {
  font-weight: 500;
}
.git-hub,
.linkedin {
  display: flex;
  align-items: center;
  gap: 10px;
}
.git-icon,
.linkedin-icon {
  height: 1.5rem;
}
